.notification-container-success,
.notification-container-error {
	display: flex;
	position: fixed;
	top: 150px;
	right: -300px;
	padding: 0 20px;
	font-size: 16px;
	color: white;
	pointer-events: none;
	transition: 0.5s;
	z-index: 100;
}

.notification-container-success {
	background-color: #5ece7b;
}

.notification-container-error {
	background-color: rgb(238, 62, 62);
}

.notification-container-warning {
	display: flex;
	position: fixed;
	top: 150px;
	right: 40px;
	opacity: 0;
	padding: 0 20px;
	font-size: 16px;
	color: black;
	pointer-events: none;
	transition: 0.5s;
	z-index: 100;
	background-color: rgb(255,193,7);
}

.notification-image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.notification-image img {
	width: 26px;
	height: 26px;
	margin-right: 15px;
}

.active-toaster {
	right: 40px;
	opacity: 1;
}
